# Codeowners file for LinksHub repository

# This file defines the code owners for the LinksHub repository. Code owners are responsible for reviewing and approving any changes to the code in their respective areas

## Files

README.md @CBID2 @Anmol-Baranwal @rupali-codes @aftabrehan
.gitignore @CBID2 @Anmol-Baranwal @rupali-codes @aftabrehan
LICENSE @rupali-codes @CBID2 @Anmol-Baranwal @aftabrehan
.github/workflows/ @rupali-codes @CBID2 @Anmol-Baranwal
app/ @rupali-codes  @Anmol-Baranwal @aftabrehan
components/ @Anmol-Baranwal @CBID2 @rupali-codes @aftabrehan
lib/ @CBID2 @rupali-codes @Anmol-Baranwal @aftabrehan
tests/ @rupali-codes @CBID2 @Anmol-Baranwal @aftabrehan

## Directories

.github/ @rupali-codes @CBID2 @Anmol-Baranwal @aftabrehan
node_modules/ @rupali-codes @Anmol-Baranwal @aftabrehan
public/ @CBID2 @rupali-codes @Anmol-Baranwal @aftabrehan
.env/ @rupali-codes @Anmol-Baranwal @CBID2 @aftabrehan

## Special cases

# Any changes to the CODEOWNERS file must be approved by @rupali-codes @Anmol-Baranwal @CBID2 @aftabrehan

# Any changes to the .gitattributes file must be approved by @rupali-codes @CBID2 @Anmol-Baranwal @aftabrehan

# Any changes to the .gitignore file must be approved by @CBID2 @Anmol-Baranwal  @rupali-codes @aftabrehan

## Contact information

# If you have any questions about the CODEOWNERS file, please contact @rupali-codes @Anmol-Baranwal @CBID2 @aftabrehan
