@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.container{
    position: relative;
    display: none;
    padding: 15px 25px;
    margin: 20px 0;
    color: rgb(167 139 250);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
.container:hover{
    background: rgb(167 139 250);
    color: #050801;
    box-shadow: 0 0 5px rgb(167 139 250),
                0 0 25px rgb(167 139 250),
                0 0 50px rgb(167 139 250),
                0 0 200px rgb(167 139 250);
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.container:nth-child(1){
    filter: hue-rotate(270deg);
}
.container:nth-child(2){
    filter: hue-rotate(110deg);
}
.container span{
    position: absolute;
    display: block;
}
.container span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(167 139 250));
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.container span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(167 139 250));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.container span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent, rgb(167 139 250));
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.container span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(167 139 250));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
@media(max-width:1025px){
    .container{
        display: inline-block;
    }
  }
