@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* Making default font family */
body {
  font-family: 'Nunito', sans-serif;
}

#__next {
  height: 100vh;
  display: grid;
  grid-template-rows: 76px auto;
}

/* scrollable */

.scrollColorDark {
  overflow-y: scroll;
}

/* width */

.scrollColorDark::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.scrollColorDark::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

.scrollColorDark::-webkit-scrollbar-thumb {
  background: #202c46;
  border-radius: 20px;
}

/* Handle on hover */

.scrollColorDark::-webkit-scrollbar-thumb:hover {
  background: #304269;
}

.scrollColorLight {
  overflow-y: scroll;
}

/* width */

.scrollColorLight::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.scrollColorLight::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

.scrollColorLight::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 20px;
}

/* Handle on hover */

.scrollColorLight::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Homepage Paragraph equally aligned   */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  text-align: justify !important;
}

@media (min-width: 992px) {
  .coming-soon {
    text-align: center;
    top: 220px;
    position: relative;
  }
}

@media (max-width: 800px) {
  .coming-soon {
    text-align: center;
    top: 150px;
    position: relative;
  }
}
/* setting root value for main scrollbar */
:root {
  --scroll-thumb: #bbb;
  --scroll-thumb-hover: #aaa;
  --scroll-track: #f3f4f6;

  --primary-150:#5b21b6;/* violet-800 */
  --primary-100:#7c3aed;/* violet-600 */
  --primary-80:#8b5cf6; /* violet-500 */
  --primary-60:#a78bfa; /* violet-400 */
  --primary-40:#c4b5fd; /* violet-300 */
  --primary-20:#ddd6fe; /* violet-200 */
  --primary-10:#ede9fe; /* violet-100 */

  --secondary-200:#111827; /* gray-900 */ /* background */ 
  --secondary-100:#4b5563;  /* gray-600 */
  --secondary-80:#6b7280;  /* gray-500 */  
  --secondary-60:#9ca3af;  /* gray-400 */
  --secondary-40:#d1d5db;   /* gray-300 */ /* dark: card-text */
  --secondary-20:#e5e7eb;   /* gray-200 */
  --secondary-10:#F3F4F6;   /* gray-100 */

  --tertiary-60:#334155;  /* slate-700 */
  --tertiary-5:#cbd5e1;  /* slate-300 */

  --dark-background : #101623;

}

[data-theme='dark'] {
  --scroll-thumb: #202c46;
  --scroll-thumb-hover: #304269;
  --scroll-track: #101623;
}

/* for the main website scrollbar */

/* Webkit Browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

/* Microsoft Edge and IE */
*::-ms-scrollbar {
  width: 10px;
}

*::-ms-scrollbar-track {
  background: var(--scroll-track);
}

*::-ms-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 25px;
}

*::-ms-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}

/* Standard Scrollbar (Chrome, Opera, Edge, and IE) */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}
@media (min-width:597px) and (max-width:800px){
    .grid-cols-1 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  }
